<!-- FORM MAIN-->
<div class="page-content-wrapper-inner container-fluid" id="page-category">
    <div class="page-header">
        <h1 class="page-title">Sample</h1>
    </div>
    <!-- Primary form -->
    <div class="">
    </div>
    <form action="">
        <!-- Form item -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-inline">
                    <label>Nhân viên</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-inline">
                    <label>Chức năng</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-10">
                    <div class="row">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-employee">Tìm</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Tìm kiếm thành viên...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <a href="javascript:void(0);" class="btn btn-primary no-margin-right pull-right">Thêm</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline">
                            <label>Tên nhân viên</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-user-custom">
                            <div class="form-group form-inline">
                                <select size="15" multiple id="page-sample-select-multiselect">
                                    <option value="elem_3">Họ và Tên 1</option>
                                    <option value="elem_4">Họ và Tên 1</option>
                                    <option value="elem_5">Họ và Tên 1</option>
                                    <option value="elem_6">Họ và Tên 1</option>
                                    <option value="elem_7">Họ và Tên 1</option>
                                    <option value="elem_8">Họ và Tên 1</option>
                                    <option value="elem_3">Họ và Tên 1</option>
                                    <option value="elem_4">Họ và Tên 1</option>
                                    <option value="elem_5">Họ và Tên 1</option>
                                </select>
                            </div>
                            <div class="text-right">
                                <a href="javascript:void(0);" class="btn btn-dark">Xóa</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline">
                            <a href="javascript:void(0);" class="btn btn-primary">Cập nhật</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <label class="checkbox">
                            <input type="checkbox" value="">
                            <span></span>Master bộ phận
                        </label>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Master chính sách
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Tỷ lệ nộp BH khi giảm lao động
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Master trợ cấp/phụ cấp
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Công thức lương
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Master nhân viên
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Danh sách bảo hiểm tham gia
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Đăng ký người phụ thuộc
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Master lương
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Đăng ký nghĩ không lương
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Đăng ký thưởng
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Import dữ liệu chấm công
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Tính lương
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>Tham khảo thay đổi dữ liệu chấm công
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" value="">
                                <span></span>In báo cáo
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="radio">
                            <input type="radio" name="optionsRadio1" value="option1">
                            <span></span>Chỉnh sửa
                        </label>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio2" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio3" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio4" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio5" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio6" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio7" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio8" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio9" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio10" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio11" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio12" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio13" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio14" value="option1">
                                <span></span>Chỉnh sửa
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="radio">
                            <input type="radio" name="optionsRadio1" value="option1">
                            <span></span>Xem
                        </label>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio2" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio3" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio4" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio5" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio6" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio7" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio8" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio9" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio10" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio11" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio12" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio13" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                        <div>
                            <label class="radio">
                                <input type="radio" name="optionsRadio14" value="option1">
                                <span></span>Xem
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- MODAL EMPLOYEE-->
<div class="modal" id="modal-edit-employee" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nhân viên</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-inline">
                    <label>Công ty</label>
                    <select class="selectpicker">
                        <option>AIT</option>
                        <option>ADFD</option>
                        <option>AXIS</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label>Bộ phận</label>
                    <select class="selectpicker">
                        <option>HR</option>
                        <option>IT</option>
                        <option>TRANING</option>
                        <option>ACCOUNTING</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label>Mã nhân viên</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group form-inline">
                    <label>Tên nhân viên</label>
                    <input type="text" class="form-control">
                </div>
                <a href="javascript:void(0);" class="btn btn-primary no-margin-right pull-right">Tìm</a>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    <br />
                </div>
                <div id="main-content-zone" class="table-responsive">
                    <table class="table table-striped table-basic table-hover">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Mã nhân viên</td>
                                <td>Tên nhân viên</td>
                                <td>Chọn</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>MX0001</td>
                                <td>Nguyễn Văn A</td>
                                <td>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>MX0002</td>
                                <td>Nguyễn Văn B</td>
                                <td>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>MX0003</td>
                                <td>Nguyễn Văn C</td>
                                <td>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal">Chọn</a>
                <a class="btn btn-dark" data-dismiss="modal">Thoát</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.moda-->
