USE [master]
GO
/****** Object:  Database [KyuyoSystem]    Script Date: 12/8/2016 4:15:30 PM ******/
CREATE DATABASE [KyuyoSystem] ON  PRIMARY 
( NAME = N'KyuyoSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\KyuyoSystem.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KyuyoSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\KyuyoSystem_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KyuyoSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KyuyoSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[STRING_SPLIT]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[STRING_SPLIT] 
        (    
           @Input NVARCHAR(MAX),
           @Character CHAR(1)
          )
            RETURNS @Output TABLE (
            Item NVARCHAR(1000)
          )
        AS
        BEGIN

      DECLARE @StartIndex INT, @EndIndex INT
      SET @StartIndex = 1
      IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Character
      BEGIN
            SET @Input = @Input + @Character
      END

      WHILE CHARINDEX(@Character, @Input) > 0
      BEGIN
            SET @EndIndex = CHARINDEX(@Character, @Input)

            INSERT INTO @Output(Item)
            SELECT SUBSTRING(@Input, @StartIndex, @EndIndex - 1)

            SET @Input = SUBSTRING(@Input, @EndIndex + 1, LEN(@Input))
      END

      RETURN
END

GO
/****** Object:  Table [dbo].[KY_ALLOWANCE_MASTER]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_ALLOWANCE_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[ALLOWANCE_CD] [varchar](10) NOT NULL,
	[ALLOWANCE_NAME] [nvarchar](200) NOT NULL,
	[GROUP_CD] [varchar](10) NOT NULL,
	[GROUP_NAME] [nvarchar](200) NULL,
	[VALUE_OFFICAL] [numeric](11, 1) NOT NULL,
	[VALUE_PROB] [numeric](11, 1) NOT NULL,
	[UNIT] [char](1) NOT NULL,
	[ALLOWANCE_FLG] [char](1) NULL,
	[EFFECTIVE_DT] [date] NOT NULL,
	[DELETE_FLAG] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[MAIN_ID] [int] NULL,
	[HISTORY_NO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_ALLOWANCE_RESULT]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_ALLOWANCE_RESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[ALLOWANCE_CD] [varchar](10) NOT NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[ALLOWANCE_PROB] [numeric](11, 1) NULL,
	[ALLOWANCE_OFFI] [numeric](11, 1) NULL,
	[TYPE_FLG] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_AUTHORITY]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_AUTHORITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[SCREEN_ACCESSES] [nvarchar](1000) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_CLOSING_DATE]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_CLOSING_DATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[CLOSING_DATE] [datetime] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_DEPENDENT]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_DEPENDENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[DEPENDENT] [nvarchar](100) NULL,
	[BIRTH_DT] [date] NULL,
	[NUMBER] [varchar](10) NULL,
	[NUMBER_BOOK] [varchar](10) NULL,
	[DEPENDENT_TAX_CODE] [varchar](20) NULL,
	[IDENTITY_PASSPORT] [varchar](20) NULL,
	[RELATIONSHIP] [varchar](50) NULL,
	[NATIONALITY] [varchar](20) NULL,
	[FROM_MONTH] [varchar](6) NULL,
	[TO_MONTH] [varchar](6) NULL,
	[DELETE_FLAG] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[REG_COUNTRY] [varchar](20) NULL,
	[REG_CITY] [varchar](20) NULL,
	[REG_DISTRICT] [varchar](20) NULL,
	[REG_WARD] [varchar](20) NULL,
	[MAIN_ID] [int] NULL,
	[HISTORY_NO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_EMPLOYEE_MASTER]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_EMPLOYEE_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[EMPLOYEE_NO_PE] [varchar](10) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NOT NULL,
	[EMPLOYEE_NAME_FULL] [nvarchar](100) NOT NULL,
	[USER_ID] [varchar](20) NULL,
	[PASSWORD] [nvarchar](200) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[ADDRESS_EFFECTIVE_DT] [date] NULL,
	[WORK_PLACE] [nvarchar](100) NULL,
	[WORK_PLACE_EFFECTIVE_DT] [date] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[EMAIL_EFFECTIVE_DT] [date] NULL,
	[NATIONALITY] [nvarchar](100) NULL,
	[CONTINENTS] [varchar](10) NULL,
	[IDENTITY_PASSPORT] [varchar](20) NULL,
	[PERSONAL_TAX_CODE] [varchar](20) NULL,
	[UNIVERSITY] [nvarchar](100) NULL,
	[QUALIFICATION] [varchar](50) NULL,
	[LEVEL] [varchar](10) NULL,
	[LEVEL_EFFECTIVE_DT] [date] NULL,
	[LEVEL_GROUP] [varchar](10) NULL,
	[LEVEL_GROUP_EFFECTIVE_DT] [date] NULL,
	[PHONE_NO] [varchar](20) NULL,
	[CONTRACT_TYPE] [varchar](20) NULL,
	[CONTRACT_TYPE_EFFECTIVE_DT] [date] NULL,
	[EMERGENCY_PHONE_NO] [varchar](20) NULL,
	[EMPLOYEE_TYPE] [char](2) NOT NULL,
	[EMP_TYPE_EFFECTIVE_DT] [date] NULL,
	[GENDER] [char](1) NULL,
	[BIRTH_DT] [date] NULL,
	[ENTRY_DT] [date] NULL,
	[STANDARD_HOURS] [numeric](3, 1) NOT NULL,
	[STANDARD_HOURS_EFFECTIVE_DT] [date] NULL,
	[QUIT_DT] [date] NULL,
	[CONTRACT_FORM] [varchar](1) NULL,
	[CONTRACT_FORM_EFECTIVE_DT] [date] NULL,
	[PROBATION_END_DT] [date] NULL,
	[EXCHANGE_RATE_SOCIAL_INSU_SAL] [numeric](11, 1) NOT NULL,
	[INSURANCE] [varchar](100) NULL,
	[INSURANCE_EFFECTIVE_DT] [date] NULL,
	[INSURANCE_UNION_MONTH] [date] NULL,
	[INSURANCE_CODE] [varchar](10) NULL,
	[HOSPITAL] [varchar](10) NULL,
	[HOSPITAL_EFECTIVE_DT] [date] NULL,
	[ABSENCE_NOT_PAY_BF] [numeric](3, 0) NULL,
	[ABSENCE_NOT_PAY_AT] [numeric](3, 0) NULL,
	[PIT] [varchar](100) NULL,
	[PIT_EFFECTIVE_DT] [date] NULL,
	[CERTIFICATE_LIST] [nvarchar](200) NULL,
	[LABOUR_UNION_DT] [date] NULL,
	[DELETE_FLAG] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_LONGTERM_ABSENCE]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_LONGTERM_ABSENCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[ABSENCE_NO] [varchar](10) NOT NULL,
	[FROM_DT] [date] NULL,
	[TO_DT] [date] NULL,
	[START_WORK_DT] [date] NULL,
	[DELETE_FLAG] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[MAIN_ID] [int] NULL,
	[HISTORY_NO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_OTHER_PAY]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_OTHER_PAY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAY_TYPE] [char](1) NOT NULL,
	[PAY_DESC] [nvarchar](200) NOT NULL,
	[VALUE] [numeric](11, 1) NOT NULL,
	[UNIT] [varchar](3) NOT NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[ARREA_YEAR_MONTH] [varchar](6) NULL,
	[DELETE_FLAG] [char](1) NULL,
	[DISTRIBUTION_FLAG] [char](1) NULL,
	[DISTRIBUTION_MONTHS] [numeric](2, 0) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[VND_VALUE] [numeric](11, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_OVERTIME_TOTAL]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_OVERTIME_TOTAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WORKING_TIME_ID] [int] NOT NULL,
	[OT_HOURS_PROB] [numeric](5, 2) NOT NULL,
	[OT_HOURS_OFFI] [numeric](5, 2) NOT NULL,
	[OT_TYPE] [int] NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_POLICY_MASTER]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_POLICY_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[POLICY_CD] [varchar](10) NOT NULL,
	[POLICY_NAME] [nvarchar](200) NOT NULL,
	[POLICY_TYPE] [char](1) NOT NULL,
	[GROUP_NAME] [nvarchar](200) NULL,
	[LIMIT_STEP] [numeric](11, 2) NULL,
	[NUM_VALUE] [numeric](11, 2) NULL,
	[CHAR_VALUE] [nvarchar](200) NULL,
	[UNIT] [char](1) NULL,
	[LIMIT_STEP_UNIT] [char](1) NULL,
	[ITEM_REF] [varchar](10) NULL,
	[EFFECTIVE_DT] [date] NOT NULL,
	[DELETE_FLAG] [char](1) NULL,
	[ALLOW_EDIT] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[MAIN_ID] [int] NULL,
	[HISTORY_NO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_QUANTITY_PRODUCT]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_QUANTITY_PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_CD] [varchar](20) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[PRODUCT_TYPE] [varchar](3) NULL,
	[QUANTITY] [numeric](4, 0) NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_RATE]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_RATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[EXCHANGE_RATE] [numeric](11, 1) NOT NULL,
	[EFFECTIVE_DT] [date] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[MAIN_ID] [int] NULL,
	[HISTORY_NO] [int] NULL,
	[RATE_TYPE] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_SALARY_ARREAR_DISTRIBUTION]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_SALARY_ARREAR_DISTRIBUTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[INCOME] [numeric](11, 1) NOT NULL,
	[DISTRIBUTION_AMOUNT] [numeric](11, 1) NOT NULL,
	[DISTRIBUTION_MONTH] [numeric](2, 0) NOT NULL,
	[REST_AMOUNT] [numeric](11, 1) NOT NULL,
	[NUMBER_MONTHS] [numeric](2, 0) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_SALARY_FORMULA_MASTER]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_SALARY_FORMULA_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[FORMULA_CD] [varchar](15) NULL,
	[FORMULA_NAME] [nvarchar](200) NULL,
	[FORMULA_VALUE] [nvarchar](1000) NULL,
	[FORMULA_TYPE] [char](1) NULL,
	[EFFECTIVE_DT] [date] NOT NULL,
	[DELETE_FLAG] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[MAIN_ID] [int] NULL,
	[HISTORY_NO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_SALARY_MASTER]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_SALARY_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[BASIC_SALARY_OFFICAL] [numeric](11, 2) NULL,
	[BASIC_SALARY_PROBATION] [numeric](11, 2) NULL,
	[SALARY_HOUR] [numeric](11, 2) NULL,
	[SALARY_CAL_SOCIAL_INSU] [numeric](11, 2) NULL,
	[BANK_ACCOUNT] [varchar](20) NULL,
	[BANK_NAME] [nvarchar](200) NULL,
	[UNIT] [char](3) NOT NULL,
	[ALLOWANCE_LIST] [nvarchar](200) NULL,
	[OT_TYPE] [char](1) NOT NULL,
	[FORMULA_CD] [varchar](10) NOT NULL,
	[EFFECTIVE_DT] [date] NULL,
	[DELETE_FLAG] [char](1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[PRODUCT_SALARY] [varchar](1) NULL,
	[MAIN_ID] [int] NULL,
	[HISTORY_NO] [int] NULL,
	[EXCHANGE_RATE_SOCIAL_INSU_SAL] [numeric](7, 0) NULL,
	[SALARY_UNIT] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_SALARY_RESULT]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_SALARY_RESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[HISTORY_NO] [numeric](1, 0) NULL,
	[PROBATION_SALARY] [numeric](11, 1) NULL,
	[OFFICAL_SALARY] [numeric](11, 1) NULL,
	[SALARY_ALLOWANCE_PIT] [numeric](11, 1) NULL,
	[HOURLY_PRICE_PROB] [numeric](8, 1) NULL,
	[HOURLY_PRICE_OFFI] [numeric](8, 1) NULL,
	[AMOUNT_DEDUCTED_PROB] [numeric](11, 1) NULL,
	[AMOUNT_DEDUCTED_OFFI] [numeric](11, 1) NULL,
	[AMOUNT_DEDUCTED_SUMARY] [numeric](11, 1) NULL,
	[OT_SUMARY] [numeric](11, 1) NULL,
	[TOTAL_AMOUNT] [numeric](11, 1) NULL,
	[MEMBER_FEE] [numeric](8, 0) NULL,
	[STATUS] [varchar](50) NULL,
	[LATE_NIGHT_ALLOWANCE_PROB] [numeric](11, 1) NULL,
	[LATE_NIGHT_ALLOWANCE_OFFI] [numeric](11, 1) NULL,
	[SOCIAL_INSU_AMOUNT] [numeric](10, 0) NULL,
	[HEALTH_INSU_AMOUNT] [numeric](10, 0) NULL,
	[UMEMPLOYEE_INSU_AMOUNT] [numeric](10, 0) NULL,
	[INCOME_BEFORE_TAX] [numeric](11, 1) NULL,
	[OT_NOT_PIT] [numeric](11, 1) NULL,
	[FAMILY_ALLOWANCES] [numeric](10, 0) NULL,
	[TAX_INCOME] [numeric](11, 1) NULL,
	[CAL_TAX_INCOME] [numeric](11, 1) NULL,
	[PIT] [numeric](11, 1) NULL,
	[NOT_INCLUDED_TAX_INCOME] [numeric](11, 1) NULL,
	[TOTAL_PAY] [numeric](11, 1) NULL,
	[SEVERANCE_ALLOWANCE] [numeric](11, 1) NULL,
	[APP_FLG] [char](1) NULL,
	[START_DT_CAL_SAL] [date] NULL,
	[END_DT_CAL_SAL] [date] NULL,
	[OT_ALLOWANCE] [numeric](11, 1) NULL,
	[SABBTICAL_100] [numeric](2, 0) NULL,
	[SABBTICAL_300] [numeric](2, 0) NULL,
	[AMOUNT_SABBTICAL_100] [numeric](11, 1) NULL,
	[AMOUNT_SABBTICAL_300] [numeric](11, 1) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[DEPT_CD] [varchar](20) NULL,
	[COMPANY_ID] [int] NOT NULL,
	[YEAR_MONTH_RECEIVE] [varchar](6) NOT NULL,
	[DATE_FROM] [date] NULL,
	[DATE_TO] [date] NULL,
	[SALARY_UNIT] [varchar](3) NULL,
	[OTHER] [numeric](11, 2) NULL,
	[OTHER_UNIT] [varchar](3) NULL,
	[OTHER_REMARK] [nvarchar](210) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KY_WORKINGTIME_TOTAL]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KY_WORKINGTIME_TOTAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[FROM_DATE] [varchar](10) NOT NULL,
	[TO_DATE] [varchar](10) NOT NULL,
	[STD_WORK_HOUR] [numeric](3, 1) NOT NULL,
	[PROB_DAYS] [numeric](2, 0) NOT NULL,
	[OFFI_DAYS] [numeric](2, 0) NOT NULL,
	[WORKING_TIME] [numeric](5, 2) NOT NULL,
	[ABSENCE] [numeric](5, 2) NOT NULL,
	[PROB_ABSENCE] [numeric](5, 2) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_M_COMPANY]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_M_COMPANY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_CD] [varchar](20) NOT NULL,
	[COMPANY_NAME] [nvarchar](100) NOT NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[COMPANY_TAX_CODE] [varchar](20) NULL,
	[ACTIVE_FLAG] [char](1) NOT NULL,
	[PAYROLL_STATUS] [char](1) NOT NULL,
	[STANDAR_WORKING_DAYS] [numeric](2, 0) NOT NULL,
	[COMPANY_AREA] [numeric](2, 0) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_M_DEPARTMENT]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_M_DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPT_CD] [varchar](20) NOT NULL,
	[DEPT_NAME] [nvarchar](100) NOT NULL,
	[COMPANY_CD] [varchar](20) NOT NULL,
	[ACTIVE_FLAG] [char](1) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_M_EMP_DEPT]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_M_EMP_DEPT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_CD] [varchar](20) NOT NULL,
	[DEPT_CD] [varchar](20) NOT NULL,
	[EMPLOYEE_NO] [varchar](20) NOT NULL,
	[TITLE] [nvarchar](100) NULL,
	[START_DT] [date] NOT NULL,
	[MAIN_FLAG] [char](1) NOT NULL,
	[DELETE_FLAG] [char](1) NULL,
	[INACTIVE_DT] [date] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_M_SYSTEM]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_M_SYSTEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_CD] [varchar](20) NOT NULL,
	[CATEGORY] [varchar](50) NOT NULL,
	[CD] [varchar](50) NOT NULL,
	[VALUE] [nvarchar](100) NULL,
	[CHAR_VALUE_1] [nvarchar](100) NULL,
	[CHAR_VALUE_2] [nvarchar](100) NULL,
	[CHAR_VALUE_3] [nvarchar](100) NULL,
	[NUM_VALUE_1] [numeric](10, 2) NULL,
	[NUM_VALUE_2] [numeric](10, 2) NULL,
	[NUM_VALUE_3] [numeric](10, 2) NULL,
	[REMARK] [nvarchar](200) NULL,
	[LIST_ORDER] [numeric](2, 0) NULL,
	[ACTIVE_FLAG] [char](1) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_R_WORKING_TIME]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_R_WORKING_TIME](
	[WORKING_TIME_CD] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_CD] [varchar](20) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[REVISION] [numeric](2, 0) NULL,
	[DEPT_CD] [varchar](20) NULL,
	[WORKING_TITLE] [varchar](5) NULL,
	[WORKING_DATE] [date] NOT NULL,
	[ACT_IN_TIME] [varchar](4) NULL,
	[ACT_OUT_TIME] [varchar](4) NULL,
	[WORKING_TIME] [numeric](4, 2) NULL,
	[ABSENCE_TIME] [numeric](4, 2) NULL,
	[TOTAL_OT_TIME] [numeric](4, 2) NULL,
	[LATE_OT_TIME] [numeric](4, 2) NULL,
	[TOTAL_LATE_TIME] [numeric](4, 2) NULL,
	[DEDUCTED_UNPAID] [numeric](4, 2) NULL,
	[DEDUCTED_PAID] [numeric](4, 2) NULL,
	[ATTENDANCE_TYPE] [char](1) NULL,
	[WORKING_TYPE] [char](1) NULL,
	[SPECIAL_TYPE] [varchar](10) NULL,
	[REMARK] [nvarchar](200) NULL,
	[DEDUCTED_NON_WORK_PLAN] [numeric](4, 2) NULL,
	[DEDUCTED_NON_WORK_ACTUAL] [numeric](4, 2) NULL,
	[MAIN_SHIFT] [char](1) NULL,
	[CURRENT_SHIFT] [char](1) NULL,
	[STD_IN_TIME] [varchar](5) NULL,
	[STD_OUT_TIME] [varchar](5) NULL,
	[STD_WORK_HOUR] [numeric](4, 2) NULL,
	[STATUS] [char](1) NULL,
	[CONFIRMED_BY] [varchar](20) NULL,
	[WITHDRAWN_BY] [varchar](20) NULL,
	[CREATED_DT] [date] NULL,
	[CONFIRMED_DT] [date] NULL,
	[WITHDRAWN_DT] [date] NULL,
	[UPDATED_DT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[WORKING_TIME_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_R_WORKING_TIME_HIS]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_R_WORKING_TIME_HIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WORKING_TIME_CD] [int] NOT NULL,
	[COMPANY_CD] [varchar](20) NOT NULL,
	[EMPLOYEE_NO] [varchar](10) NOT NULL,
	[REVISION] [numeric](2, 0) NOT NULL,
	[DEPT_CD] [varchar](20) NOT NULL,
	[WORKING_TITLE] [varchar](5) NOT NULL,
	[WORKING_DATE] [date] NOT NULL,
	[ACT_IN_TIME] [varchar](4) NULL,
	[ACT_OUT_TIME] [varchar](4) NULL,
	[WORKING_TIME] [numeric](4, 2) NULL,
	[ABSENCE_TIME] [numeric](4, 2) NULL,
	[TOTAL_OT_TIME] [numeric](4, 2) NULL,
	[LATE_OT_TIME] [numeric](4, 2) NULL,
	[TOTAL_LATE_TIME] [numeric](4, 2) NULL,
	[DEDUCTED_UNPAID] [numeric](4, 2) NULL,
	[DEDUCTED_PAID] [numeric](4, 2) NULL,
	[ATTENDANCE_TYPE] [char](1) NULL,
	[WORKING_TYPE] [char](1) NULL,
	[SPECIAL_TYPE] [varchar](10) NULL,
	[REMARK] [nvarchar](200) NULL,
	[DEDUCTED_NON_WORK_PLAN] [numeric](4, 2) NULL,
	[DEDUCTED_NON_WORK_ACTUAL] [numeric](4, 2) NULL,
	[MAIN_SHIFT] [char](1) NULL,
	[CURRENT_SHIFT] [char](1) NULL,
	[STD_IN_TIME] [varchar](5) NULL,
	[STD_OUT_TIME] [varchar](5) NULL,
	[STD_WORK_HOUR] [numeric](4, 2) NULL,
	[CONFIRMED_BY] [varchar](20) NULL,
	[WITHDRAWN_BY] [varchar](20) NULL,
	[CREATED_DT] [date] NULL,
	[CONFIRMED_DT] [date] NULL,
	[WITHDRAWN_DT] [date] NULL,
	[UPDATED_DT] [date] NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KY_ALLOWANCE_MASTER] ON 

GO
INSERT [dbo].[KY_ALLOWANCE_MASTER] ([ID], [COMPANY_ID], [ALLOWANCE_CD], [ALLOWANCE_NAME], [GROUP_CD], [GROUP_NAME], [VALUE_OFFICAL], [VALUE_PROB], [UNIT], [ALLOWANCE_FLG], [EFFECTIVE_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (5, 4, N'PC1', N'Chức Vụ', N'', NULL, CAST(1.0 AS Numeric(11, 1)), CAST(2.0 AS Numeric(11, 1)), N'3', N'1', CAST(N'2016-11-17' AS Date), N'0', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[KY_ALLOWANCE_MASTER] ([ID], [COMPANY_ID], [ALLOWANCE_CD], [ALLOWANCE_NAME], [GROUP_CD], [GROUP_NAME], [VALUE_OFFICAL], [VALUE_PROB], [UNIT], [ALLOWANCE_FLG], [EFFECTIVE_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (6, 4, N'PC2', N'Phí gửi xe', N'1', NULL, CAST(4.0 AS Numeric(11, 1)), CAST(5.0 AS Numeric(11, 1)), N'6', N'0', CAST(N'2016-11-17' AS Date), N'0', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[KY_ALLOWANCE_MASTER] ([ID], [COMPANY_ID], [ALLOWANCE_CD], [ALLOWANCE_NAME], [GROUP_CD], [GROUP_NAME], [VALUE_OFFICAL], [VALUE_PROB], [UNIT], [ALLOWANCE_FLG], [EFFECTIVE_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (8, 4, N'PC3', N'Ngoại ngữ', N'', NULL, CAST(1.0 AS Numeric(11, 1)), CAST(2.0 AS Numeric(11, 1)), N'3', N'1', CAST(N'2016-11-17' AS Date), N'0', NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[KY_ALLOWANCE_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_AUTHORITY] ON 

GO
INSERT [dbo].[KY_AUTHORITY] ([ID], [EMPLOYEE_NO], [SCREEN_ACCESSES], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (5, N'001', N'M020_EDIT_4#6|M009_EDIT_4#6|M004_EDIT_4#6|M011_EDIT_4#6|M013_EDIT_4#6|M014_EDIT_4#6|M012_EDIT_4#6|M018_EDIT_4#6|M007_EDIT_4|M005_EDIT_4|M006_EDIT_4|M015_EDIT_4#6|M019_EDIT_4|M008_EDIT_4|M016_EDIT_4', NULL, NULL, CAST(N'2016-12-07 11:59:26.813' AS DateTime), N'001')
GO
SET IDENTITY_INSERT [dbo].[KY_AUTHORITY] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_CLOSING_DATE] ON 

GO
INSERT [dbo].[KY_CLOSING_DATE] ([ID], [COMPANY_ID], [YEAR_MONTH], [CLOSING_DATE], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (1, 4, N'201611', CAST(N'2020-11-18 00:00:00.000' AS DateTime), CAST(N'2016-11-18 00:00:00.000' AS DateTime), N'sonvh', CAST(N'2016-11-18 00:00:00.000' AS DateTime), N'sonvh')
GO
SET IDENTITY_INSERT [dbo].[KY_CLOSING_DATE] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_DEPENDENT] ON 

GO
SET IDENTITY_INSERT [dbo].[KY_DEPENDENT] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_EMPLOYEE_MASTER] ON 

GO
SET IDENTITY_INSERT [dbo].[KY_EMPLOYEE_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_LONGTERM_ABSENCE] ON 

GO
INSERT [dbo].[KY_LONGTERM_ABSENCE] ([ID], [EMPLOYEE_NO], [ABSENCE_NO], [FROM_DT], [TO_DT], [START_WORK_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (1, N'001', N'NVR', CAST(N'2016-10-25' AS Date), CAST(N'2016-10-28' AS Date), CAST(N'2016-10-31' AS Date), N'0', CAST(N'2016-10-25 00:00:00.000' AS DateTime), N'sonvh', CAST(N'2016-12-08 10:48:30.090' AS DateTime), N'001', NULL, NULL)
GO
INSERT [dbo].[KY_LONGTERM_ABSENCE] ([ID], [EMPLOYEE_NO], [ABSENCE_NO], [FROM_DT], [TO_DT], [START_WORK_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (4, N'002', N'NVR', CAST(N'2016-10-27' AS Date), CAST(N'2016-11-01' AS Date), CAST(N'2016-11-14' AS Date), N'1', CAST(N'2016-10-25 00:00:00.000' AS DateTime), N'001', CAST(N'2016-11-02 15:52:21.297' AS DateTime), N'001', NULL, NULL)
GO
INSERT [dbo].[KY_LONGTERM_ABSENCE] ([ID], [EMPLOYEE_NO], [ABSENCE_NO], [FROM_DT], [TO_DT], [START_WORK_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (5, N'002', N'NCT', CAST(N'2016-10-31' AS Date), CAST(N'2016-11-02' AS Date), CAST(N'2016-11-14' AS Date), N'0', CAST(N'2016-10-31 09:03:59.963' AS DateTime), N'001', CAST(N'2016-11-25 09:18:30.660' AS DateTime), N'001', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[KY_LONGTERM_ABSENCE] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_OTHER_PAY] ON 

GO
INSERT [dbo].[KY_OTHER_PAY] ([ID], [PAY_TYPE], [PAY_DESC], [VALUE], [UNIT], [YEAR_MONTH], [ARREA_YEAR_MONTH], [DELETE_FLAG], [DISTRIBUTION_FLAG], [DISTRIBUTION_MONTHS], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [EMPLOYEE_NO], [VND_VALUE]) VALUES (1, N'1', N'Thưởng Quý', CAST(10000.0 AS Numeric(11, 1)), N'1', N'201611', NULL, N'0', N'0', NULL, CAST(N'2016-11-04 00:00:00.000' AS DateTime), N'sonvh', CAST(N'2016-11-04 00:00:00.000' AS DateTime), N'sonvh', N'001', CAST(1.00 AS Numeric(11, 2)))
GO
INSERT [dbo].[KY_OTHER_PAY] ([ID], [PAY_TYPE], [PAY_DESC], [VALUE], [UNIT], [YEAR_MONTH], [ARREA_YEAR_MONTH], [DELETE_FLAG], [DISTRIBUTION_FLAG], [DISTRIBUTION_MONTHS], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [EMPLOYEE_NO], [VND_VALUE]) VALUES (5, N'1', N'Thưởng Tết', CAST(2000000.0 AS Numeric(11, 1)), N'0', N'201611', NULL, N'0', N'1', CAST(10 AS Numeric(2, 0)), CAST(N'2016-11-14 16:43:14.730' AS DateTime), N'001', CAST(N'2016-11-14 16:43:14.730' AS DateTime), N'001', N'002', CAST(11.00 AS Numeric(11, 2)))
GO
INSERT [dbo].[KY_OTHER_PAY] ([ID], [PAY_TYPE], [PAY_DESC], [VALUE], [UNIT], [YEAR_MONTH], [ARREA_YEAR_MONTH], [DELETE_FLAG], [DISTRIBUTION_FLAG], [DISTRIBUTION_MONTHS], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [EMPLOYEE_NO], [VND_VALUE]) VALUES (6, N'1', N'Thưởng thâm niên', CAST(400000.0 AS Numeric(11, 1)), N'0', N'201611', NULL, N'0', N'1', CAST(2 AS Numeric(2, 0)), CAST(N'2016-11-15 08:44:29.690' AS DateTime), N'001', CAST(N'2016-11-15 08:44:29.690' AS DateTime), N'001', N'002', CAST(1.00 AS Numeric(11, 2)))
GO
SET IDENTITY_INSERT [dbo].[KY_OTHER_PAY] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_POLICY_MASTER] ON 

GO
SET IDENTITY_INSERT [dbo].[KY_POLICY_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_SALARY_FORMULA_MASTER] ON 

GO
INSERT [dbo].[KY_SALARY_FORMULA_MASTER] ([ID], [COMPANY_ID], [FORMULA_CD], [FORMULA_NAME], [FORMULA_VALUE], [FORMULA_TYPE], [EFFECTIVE_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (1, 4, N'A', N'A', NULL, N'2', CAST(N'2016-10-14' AS Date), N'0', CAST(N'2016-10-14 00:00:00.000' AS DateTime), N'sonvh', CAST(N'2016-10-14 00:00:00.000' AS DateTime), N'sonvh', NULL, NULL)
GO
INSERT [dbo].[KY_SALARY_FORMULA_MASTER] ([ID], [COMPANY_ID], [FORMULA_CD], [FORMULA_NAME], [FORMULA_VALUE], [FORMULA_TYPE], [EFFECTIVE_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (2, 4, N'B', N'B', NULL, N'2', CAST(N'2016-10-14' AS Date), N'0', CAST(N'2016-10-14 00:00:00.000' AS DateTime), N'sonvh', CAST(N'2016-10-14 00:00:00.000' AS DateTime), N'sonvh', NULL, NULL)
GO
INSERT [dbo].[KY_SALARY_FORMULA_MASTER] ([ID], [COMPANY_ID], [FORMULA_CD], [FORMULA_NAME], [FORMULA_VALUE], [FORMULA_TYPE], [EFFECTIVE_DT], [DELETE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY], [MAIN_ID], [HISTORY_NO]) VALUES (3, 4, N'C', N'C', N'A+B', N'2', CAST(N'2016-10-14' AS Date), N'0', CAST(N'2016-10-14 00:00:00.000' AS DateTime), N'sonvh', CAST(N'2016-10-14 00:00:00.000' AS DateTime), N'sonvh', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[KY_SALARY_FORMULA_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[KY_SALARY_MASTER] ON 

GO
SET IDENTITY_INSERT [dbo].[KY_SALARY_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_M_COMPANY] ON 

GO
INSERT [dbo].[TB_M_COMPANY] ([ID], [COMPANY_CD], [COMPANY_NAME], [ADDRESS], [COMPANY_TAX_CODE], [ACTIVE_FLAG], [PAYROLL_STATUS], [STANDAR_WORKING_DAYS], [COMPANY_AREA], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (4, N'AIT', N'Aureole Infonation Technology Inc', N'9 Đinh Tiên Hoàng', NULL, N'1', N'0', CAST(26 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TB_M_COMPANY] ([ID], [COMPANY_CD], [COMPANY_NAME], [ADDRESS], [COMPANY_TAX_CODE], [ACTIVE_FLAG], [PAYROLL_STATUS], [STANDAR_WORKING_DAYS], [COMPANY_AREA], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (6, N'ABCD', N'Aureole Business Component & Devices Inc.', NULL, NULL, N'1', N'1', CAST(26 AS Numeric(2, 0)), CAST(10 AS Numeric(2, 0)), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TB_M_COMPANY] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_M_DEPARTMENT] ON 

GO
INSERT [dbo].[TB_M_DEPARTMENT] ([ID], [DEPT_CD], [DEPT_NAME], [COMPANY_CD], [ACTIVE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (2, N'ACC001', N'Kế toán', N'AIT', N'1', NULL, NULL, CAST(N'2016-10-04 11:53:35.920' AS DateTime), N'001')
GO
INSERT [dbo].[TB_M_DEPARTMENT] ([ID], [DEPT_CD], [DEPT_NAME], [COMPANY_CD], [ACTIVE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (3, N'SIGROUP01', N'Group 01', N'AIT', N'0', NULL, NULL, CAST(N'2016-10-04 11:55:56.967' AS DateTime), N'001')
GO
INSERT [dbo].[TB_M_DEPARTMENT] ([ID], [DEPT_CD], [DEPT_NAME], [COMPANY_CD], [ACTIVE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (5, N'ACC002', N'Kế toán 2', N'AIT', N'0', NULL, NULL, CAST(N'2016-10-04 11:59:51.397' AS DateTime), N'001')
GO
SET IDENTITY_INSERT [dbo].[TB_M_DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_M_EMP_DEPT] ON 

GO
INSERT [dbo].[TB_M_EMP_DEPT] ([ID], [COMPANY_CD], [DEPT_CD], [EMPLOYEE_NO], [TITLE], [START_DT], [MAIN_FLAG], [DELETE_FLAG], [INACTIVE_DT], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (2, N'AIT', N'ACC001', N'001', NULL, CAST(N'2016-10-09' AS Date), N'1', N'0', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TB_M_EMP_DEPT] ([ID], [COMPANY_CD], [DEPT_CD], [EMPLOYEE_NO], [TITLE], [START_DT], [MAIN_FLAG], [DELETE_FLAG], [INACTIVE_DT], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (3, N'AIT', N'HR001', N'002', NULL, CAST(N'2016-10-09' AS Date), N'1', N'0', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TB_M_EMP_DEPT] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_M_SYSTEM] ON 

GO
INSERT [dbo].[TB_M_SYSTEM] ([ID], [COMPANY_CD], [CATEGORY], [CD], [VALUE], [CHAR_VALUE_1], [CHAR_VALUE_2], [CHAR_VALUE_3], [NUM_VALUE_1], [NUM_VALUE_2], [NUM_VALUE_3], [REMARK], [LIST_ORDER], [ACTIVE_FLAG], [CREATED_DT], [CREATED_BY], [UPDATED_DT], [UPDATED_BY]) VALUES (3, N'0000000000', N'SCREEN_ID', N'M007', NULL, N'Allowance', N'Quản lý|fa-diamond', N'1', CAST(1.00 AS Numeric(10, 2)), NULL, CAST(0.00 AS Numeric(10, 2)), N'Thông tin trợ cấp/Phụ cấp', CAST(4 AS Numeric(2, 0)), N'1', CAST(N'2016-09-29 10:32:41.333' AS DateTime), N'batch', CAST(N'2016-09-29 10:32:41.333' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[TB_M_SYSTEM] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_R_WORKING_TIME_HIS] ON 

GO
SET IDENTITY_INSERT [dbo].[TB_R_WORKING_TIME_HIS] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_ALLOWANCE_RESULT]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[KY_ALLOWANCE_RESULT] ADD  CONSTRAINT [UNIQUE_ALLOWANCE_RESULT] UNIQUE NONCLUSTERED 
(
	[EMPLOYEE_NO] ASC,
	[ALLOWANCE_CD] ASC,
	[YEAR_MONTH] ASC,
	[TYPE_FLG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_AUTHORITY]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[KY_AUTHORITY] ADD  CONSTRAINT [UNIQUE_AUTHORITY] UNIQUE NONCLUSTERED 
(
	[EMPLOYEE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_CLOSING_DATE]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[KY_CLOSING_DATE] ADD  CONSTRAINT [UNIQUE_CLOSING_DATE] UNIQUE NONCLUSTERED 
(
	[COMPANY_ID] ASC,
	[YEAR_MONTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UNIQUE_RATE]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[KY_RATE] ADD  CONSTRAINT [UNIQUE_RATE] UNIQUE NONCLUSTERED 
(
	[COMPANY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_SALARY_ARREAR_DISTRIBUTION]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[KY_SALARY_ARREAR_DISTRIBUTION] ADD  CONSTRAINT [UNIQUE_SALARY_ARREAR_DISTRIBUTION] UNIQUE NONCLUSTERED 
(
	[EMPLOYEE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_SALARY_RESULT]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[KY_SALARY_RESULT] ADD  CONSTRAINT [UNIQUE_SALARY_RESULT] UNIQUE NONCLUSTERED 
(
	[EMPLOYEE_NO] ASC,
	[YEAR_MONTH] ASC,
	[HISTORY_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_COMPANY]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[TB_M_COMPANY] ADD  CONSTRAINT [UNIQUE_COMPANY] UNIQUE NONCLUSTERED 
(
	[COMPANY_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_DEPARTMENT]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[TB_M_DEPARTMENT] ADD  CONSTRAINT [UNIQUE_DEPARTMENT] UNIQUE NONCLUSTERED 
(
	[DEPT_CD] ASC,
	[COMPANY_CD] ASC,
	[ACTIVE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_SYSTEM]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[TB_M_SYSTEM] ADD  CONSTRAINT [UNIQUE_SYSTEM] UNIQUE NONCLUSTERED 
(
	[COMPANY_CD] ASC,
	[CATEGORY] ASC,
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_WORKING_TIME]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[TB_R_WORKING_TIME] ADD  CONSTRAINT [UNIQUE_WORKING_TIME] UNIQUE NONCLUSTERED 
(
	[COMPANY_CD] ASC,
	[EMPLOYEE_NO] ASC,
	[REVISION] ASC,
	[WORKING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_WORKING_TIME_HIS]    Script Date: 12/8/2016 4:15:30 PM ******/
ALTER TABLE [dbo].[TB_R_WORKING_TIME_HIS] ADD  CONSTRAINT [UNIQUE_WORKING_TIME_HIS] UNIQUE NONCLUSTERED 
(
	[COMPANY_CD] ASC,
	[EMPLOYEE_NO] ASC,
	[REVISION] ASC,
	[WORKING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetAuthorityMenu]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAuthorityMenu]
	-- Add the parameters for the stored procedure here
	@EmployeeNo varchar(max) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		S.CD AS ScreenId,
		S.REMARK AS ScreenName,
		S.CHAR_VALUE_1 AS Url,
		A.SCREEN_ACCESSES AS AccessLevel,
	    CAST (S.NUM_VALUE_1 AS INT) AS AllowView,
		CAST (S.NUM_VALUE_3 AS INT) AS [Type],
		S.CHAR_VALUE_3 AS ShowFlag
	FROM 
		dbo.TB_M_SYSTEM S,
		dbo.KY_AUTHORITY A
	WHERE 
		
		S.CATEGORY = 'SCREEN_ID'
	AND A.EMPLOYEE_NO = @EmployeeNo
	AND A.SCREEN_ACCESSES like '%' +S.CD + '%'
	AND S.ACTIVE_FLAG = '1'
	
	ORDER BY S.LIST_ORDER

END

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeAuthority]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetEmployeeAuthority]
	-- Add the parameters for the stored procedure here
	@CompanyId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		B.ID AS Id
	   ,A.EMPLOYEE_NO AS EmployeeNo
	   ,A.EMPLOYEE_NAME AS EmployeeName
	   ,B.SCREEN_ACCESSES AS ScreenAccess
	   ,B.UPDATED_DT AS UpdatedDt
	FROM
		KY_EMPLOYEE_MASTER A
	   ,KY_AUTHORITY B
	WHERE
		A.EMPLOYEE_NO =	B.EMPLOYEE_NO
	AND A.COMPANY_ID = @CompanyId
	AND A.UPDATED_DT = ( SELECT MAX(C.UPDATED_DT) 
						 FROM KY_EMPLOYEE_MASTER C 
						 WHERE 
							 C.EMPLOYEE_NO = A.EMPLOYEE_NO
						 AND C.COMPANY_ID = @CompanyId
						 AND C.DELETE_FLAG = '0')
	AND A.DELETE_FLAG = '0'


END



GO
/****** Object:  StoredProcedure [dbo].[SearchDependent]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		thanhtv
-- Create date: 20161014
-- Description:	M011 - [SearchDependent]
-- =============================================
CREATE PROCEDURE [dbo].[SearchDependent]
	-- Add the parameters for the stored procedure here
	@CompanyCd varchar(max),
	@DeptCd varchar(max) = null,
	@EmployeeNo varchar(max) = null,
	@EmployeeName nvarchar(max) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		D.ID AS Id,
		EM.EMPLOYEE_NAME AS EmployeeName,
		EM.EMPLOYEE_NO AS EmployeeNo,
		D.DEPENDENT AS Dependent,
		D.BIRTH_DT AS BirthDt,
		D.DEPENDENT_TAX_CODE AS DependentTaxCode,
		D.IDENTITY_PASSPORT AS IdPassport,
		D.NUMBER AS Number,
		D.NUMBER_BOOK AS NumberBook,
		D.RELATIONSHIP AS Relationship,
		D.NATIONALITY AS Nationality,
		D.FROM_MONTH AS FromMonth,
		D.TO_MONTH AS ToMonth,
		D.UPDATED_DT AS UpdatedDt,
		D.MAIN_ID as MainId

	FROM 
		KY_EMPLOYEE_MASTER EM,
		KY_DEPENDENT D,
		TB_M_EMP_DEPT ED
	WHERE 
		EM.EMPLOYEE_NO = D.EMPLOYEE_NO
	AND EM.EMPLOYEE_NO = ED.EMPLOYEE_NO
	AND	ED.COMPANY_CD = @CompanyCd
	AND D.MAIN_ID is null
	AND D.DELETE_FLAG = '0'
	AND ED.MAIN_FLAG = '1'
	AND (ED.DEPT_CD = @DeptCd OR @DeptCd IS NULL)
	AND (EM.EMPLOYEE_NO like '%' + @EmployeeNo + '%' OR @EmployeeNo IS NULL)
	AND (EM.EMPLOYEE_NAME like '%' + @EmployeeName + '%' OR @EmployeeName IS NULL)

	ORDER BY EM.USER_ID

END


GO
/****** Object:  StoredProcedure [dbo].[SearchEmployee]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		thanhtv
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SearchEmployee] 
	-- Add the parameters for the stored procedure here
	@CompanyId int,
	@DeptCd varchar(MAX) = null,
	@EmployeeNo varchar(MAX) = null,
	@EmployeeName nvarchar(MAX) = null,
	@IncludeQuitFlag char(1) = '0',
	@EffectiveDtFrom date = null,
	@EffectiveDtTo date = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT
		A.ID AS Id,
		A.COMPANY_ID AS CompanyId,
		A.EMPLOYEE_NO AS EmployeeNo,
		A.EMPLOYEE_NO_PE AS EmployeeNoPE,
		A.EMPLOYEE_NAME AS EmployeeName,
		A.EMPLOYEE_NAME_FULL AS EmployeeNameFull,
		A.USER_ID AS UserId,
		A.GENDER AS Gender,
		A.EMPLOYEE_TYPE AS EmployeeType,
		C.REMARK AS EmployeeTypeName,
		A.BIRTH_DT AS BirthDt,
		A.EMAIL AS Email,
		A.[ADDRESS] AS [Address],
		A.WORK_PLACE AS WorkPlace,
		A.NATIONALITY AS Nationality,
		A.CONTINENTS AS Continents,
		A.IDENTITY_PASSPORT AS IdentityPassport,
		A.PERSONAL_TAX_CODE AS PersonalTaxCode,
		A.UNIVERSITY AS University,
		A.QUALIFICATION AS Qualification,
		A.[LEVEL] AS [Level],
		A.LEVEL_GROUP As LevelGroup,
		A.ENTRY_DT AS EntryDt,
		A.PROBATION_END_DT AS ProbationEndDt,
		A.LABOUR_UNION_DT AS LabourUnionDt,
		A.QUIT_DT AS QuitDt,
		A.CONTRACT_FORM AS ContractForm,
		A.CONTRACT_TYPE AS ContractType,
		A.PHONE_NO AS PhoneNo,
		A.EMERGENCY_PHONE_NO AS EmergencyPhoneNo,
		A.STANDARD_HOURS AS StandardHours,
		A.INSURANCE_UNION_MONTH AS InsuranceUnionMonth,
		A.INSURANCE_CODE AS InsuaranceCode,
		A.HOSPITAL AS Hospital,
		A.INSURANCE AS Insurance,
		A.PIT AS PIT,
		A.ABSENCE_NOT_PAY_BF AS AbsenceNotPayBf,
		A.ABSENCE_NOT_PAY_AT AS AbsenceNotPayAt,
		A.CERTIFICATE_LIST AS CertificateList,
		A.DELETE_FLAG AS DeleteFlag,
		A.UPDATED_DT AS UpdatedDt,
		--B.DEPT_NAME AS DeptName,
		A.EMP_TYPE_EFFECTIVE_DT AS EmpTypeEffectiveDt,
		A.EMAIL_EFFECTIVE_DT AS EmailEffectiveDt,
		A.ADDRESS_EFFECTIVE_DT AS AddressEffectiveDt,
		A.WORK_PLACE_EFFECTIVE_DT AS WorkPlaceEffectiveDt,
		A.LEVEL_EFFECTIVE_DT AS LevelEffctiveDt,
		A.LEVEL_GROUP_EFFECTIVE_DT AS LevelGroupEffectiveDt,
		A.CONTRACT_FORM_EFECTIVE_DT AS ContractFormEffectiveDt,
		A.CONTRACT_TYPE_EFFECTIVE_DT AS ContractTypeEffectiveDt,
		A.STANDARD_HOURS_EFFECTIVE_DT AS StandardHoursEffeciveDt,
		A.HOSPITAL_EFECTIVE_DT AS HospitalEffectiveDt,
		A.INSURANCE_EFFECTIVE_DT AS InsuranceEffectiveDt,
		A.PIT_EFFECTIVE_DT AS PITEffectiveDt
	FROM 
		KY_EMPLOYEE_MASTER A,
		TB_M_EMP_DEPT B,
		TB_M_SYSTEM C
	WHERE 

		A.EMPLOYEE_NO				=	B.EMPLOYEE_NO
	AND	B.MAIN_FLAG					=	'1'
	AND (B.INACTIVE_DT					IS NULL 
	  OR B.INACTIVE_DT				>	CONVERT(DATE, GETDATE()))
	AND C.COMPANY_CD				=	B.COMPANY_CD
	AND C.CATEGORY					=	'EMPLOYEE_TYPE'
	AND C.CD						=	A.EMPLOYEE_TYPE
	AND A.COMPANY_ID				=	@CompanyId
	AND (B.DEPT_CD					=	@DeptCd OR @DeptCd IS NULL)
	AND (A.QUIT_DT						IS NULL OR @IncludeQuitFlag = '1')
	AND (A.EMPLOYEE_NO					LIKE '%' + @EmployeeNo + '%' 
	  OR A.EMPLOYEE_NO_PE				LIKE '%' + @EmployeeNo + '%'
	  OR @EmployeeNo					IS NULL)
	AND (A.EMPLOYEE_NAME				LIKE '%' + @EmployeeName + '%' OR @EmployeeName IS NULL)
	AND (@EffectiveDtFrom IS NULL
	  OR A.EMP_TYPE_EFFECTIVE_DT		>=	@EffectiveDtFrom
	  OR A.EMAIL_EFFECTIVE_DT			>=	@EffectiveDtFrom
	  OR A.ADDRESS_EFFECTIVE_DT			>=	@EffectiveDtFrom
	  OR A.WORK_PLACE_EFFECTIVE_DT		>=	@EffectiveDtFrom
	  OR A.LEVEL_EFFECTIVE_DT			>=	@EffectiveDtFrom
	  OR A.LEVEL_GROUP_EFFECTIVE_DT		>=	@EffectiveDtFrom													
	  OR A.CONTRACT_FORM_EFECTIVE_DT	>=  @EffectiveDtFrom												
	  OR A.CONTRACT_TYPE_EFFECTIVE_DT	>=	@EffectiveDtFrom
	  OR A.STANDARD_HOURS_EFFECTIVE_DT  >=	@EffectiveDtFrom
	  OR A.HOSPITAL_EFECTIVE_DT			>=	@EffectiveDtFrom
	  OR A.INSURANCE_EFFECTIVE_DT		>=	@EffectiveDtFrom												
	  OR A.PIT_EFFECTIVE_DT				>=	@EffectiveDtFrom)
	AND (@EffectiveDtTo IS NULL
	  OR A.EMP_TYPE_EFFECTIVE_DT		<=	@EffectiveDtTo
	  OR A.EMAIL_EFFECTIVE_DT			<=	@EffectiveDtTo
	  OR A.ADDRESS_EFFECTIVE_DT			<=	@EffectiveDtTo
	  OR A.WORK_PLACE_EFFECTIVE_DT		<=	@EffectiveDtTo
	  OR A.LEVEL_EFFECTIVE_DT			<=	@EffectiveDtTo
	  OR A.LEVEL_GROUP_EFFECTIVE_DT		<=	@EffectiveDtTo
	  OR A.CONTRACT_FORM_EFECTIVE_DT	<=	@EffectiveDtTo
	  OR A.CONTRACT_TYPE_EFFECTIVE_DT	<=	@EffectiveDtTo
	  OR A.STANDARD_HOURS_EFFECTIVE_DT	<=	@EffectiveDtTo
	  OR A.HOSPITAL_EFECTIVE_DT			<=	@EffectiveDtTo
	  OR A.INSURANCE_EFFECTIVE_DT		<=	@EffectiveDtTo
	  OR A.PIT_EFFECTIVE_DT				<=	@EffectiveDtTo)

	ORDER BY A.USER_ID, A.UPDATED_DT

END



GO
/****** Object:  StoredProcedure [dbo].[SearchSalaryMaster]    Script Date: 12/8/2016 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		thanhtv
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SearchSalaryMaster] 
	-- Add the parameters for the stored procedure here
	@CompanyId int,
	@DeptCd varchar(MAX) = null,
	@EmployeeNo varchar(MAX) = null,
	@EmployeeName nvarchar(MAX) = null,
	@EffectiveDtFrom date = null,
	@EffectiveDtTo date = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT
		A.ID AS Id,
		A.EMPLOYEE_NO AS EmployeeNo,
		A.BASIC_SALARY_OFFICAL AS BasicSalaryOffical,
		A.BASIC_SALARY_PROBATION AS BasicSalaryProbation,
		A.SALARY_HOUR AS SalaryHour,
		A.SALARY_CAL_SOCIAL_INSU AS SalaryCalSocialInsu,
		A.BANK_ACCOUNT AS BankAccount,
		A.BANK_NAME AS BankName,
		A.SALARY_UNIT AS SalaryUnit,
		A.UNIT AS Unit,
		A.PRODUCT_SALARY as ProductSalary,
		A.ALLOWANCE_LIST AS AllowanceList,
		A.OT_TYPE AS OTType,
		A.FORMULA_CD AS FormulaCd,
		A.EFFECTIVE_DT AS EffectiveDt,
		A.DELETE_FLAG AS DeleteFlag,
		A.CREATED_DT As CreatedDt,
		A.CREATED_BY AS CreatedBy,
		A.UPDATED_DT AS UpdatedDt,
		A.UPDATED_BY AS UpdatedBy,
		A.MAIN_ID AS MainId,
		A.HISTORY_NO AS HistoryNo,
		A.EXCHANGE_RATE_SOCIAL_INSU_SAL AS ExchangeRateSocialInsuSal,
		C.EMPLOYEE_NAME as EmployeeName
	FROM 
		KY_SALARY_MASTER A,
		TB_M_EMP_DEPT B,
		KY_EMPLOYEE_MASTER C
	WHERE 
		A.EMPLOYEE_NO =	B.EMPLOYEE_NO
	AND A.EMPLOYEE_NO =	C.EMPLOYEE_NO
	AND A.DELETE_FLAG = '0'
	AND A.MAIN_ID IS NULL
	AND (((C.EMPLOYEE_NO LIKE '%' + @EmployeeNo + '%'  
			OR C.EMPLOYEE_NO_PE LIKE '%' + @EmployeeNo + '%') 
			AND C.DELETE_FLAG = '0')
			OR @EmployeeNo IS NULL)
	AND ((B.MAIN_FLAG = '1' 
			AND (B.INACTIVE_DT IS NULL 
			OR   B.INACTIVE_DT > SYSDATETIME()) AND B.DEPT_CD = @DeptCd )
			OR   @DeptCd IS NULL)

	AND ((C.EMPLOYEE_NAME LIKE '%' + @EmployeeName + '%'  
			AND C.DELETE_FLAG = '0')
			OR @EmployeeName IS NULL)

	AND ( A.EFFECTIVE_DT >= @EffectiveDtFrom
			OR @EffectiveDtFrom IS NULL)

	AND ( A.EFFECTIVE_DT <= @EffectiveDtTo
			OR @EffectiveDtTo IS NULL)

	ORDER BY A.UPDATED_DT

END



IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND OBJECT_ID = OBJECT_ID('dbo.SearchSalaryCalulate'))
DROP PROCEDURE [dbo].SearchSalaryCalulate

GO
USE [master]
GO
